@import "tailwindcss";

@theme {
  --color-palmier: #297373;
  --color-mer: #8edce6;
  --color-orange: #ff8552;
  --color-corail: #f2545b;
  --color-sable: #f2d858;
  --color-plage: #fcf3e3;
  --color-nuit: #3b4c4e;
  --color-blanc: #f7f7f7;

  --font-dm-serif: "var(--font-dm-serif)";
  --font-public-sans: "var(--font-public-sans)";

  --font-h1: 72px;
  --font-h2: 40px;
  --font-p: 20px;
}
